@charset "UTF-8";
body {
    background: #bbbbbb;
}
div {
    background: #404040;
    width: 1000px;
    height:800px;
    padding: 10px;
    color: white;
    text-align: center;
    border: 3px solid #aacccc;
    margin: 30px auto;
}
.hoge {
    width:1000px;
}