@charset "UTF-8";
body {
    background: #bbbbbb;

}
div {
    text-align: center;
    margin: 30px auto;
}
div.top-text {
    color: white;
    background: #404040;
    height:700px;
    width: 1000px;
    padding: 10px;
}
div.space{
    height:20px;
}
div.main{
    width:1200px;
    margin:20px auto;
}
div.main-text{
    background-color:#ffffff;
    display: inline-block;
    vertical-align: top;
    width:550px;
    height:720px;
    margin:30px 15px;
}
div.hobby-list{
    width: 300px;
    text-align: left;
}